.circle {
  display: block;
  background: black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0;
}

#questionInput{
  margin-left: 40px;
  margin-top: 130px;
}

#randomizer,
#clearThisShit {
  background-color: blue;
  color: white;
}

#answerList {
  color: white;
}
